<ul class=" pt-3 nav justify-content-evenly">
    <li class="nav-item">
        <a class="nav-link" routerLink="viewapps" routerLinkActive="active" >
          <p class="d-inline fs-5 "> View Apps</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="viewmovies" routerLinkActive="active" >
          <p class="d-inline fs-5 "> View Movies</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="viewbooks" routerLinkActive="active">
          <p class="d-inline fs-5 "> View Books</p>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink="viewgames" routerLinkActive="active" >
          <p class="d-inline fs-5 "> view games</p>
        </a>
      </li>
  </ul>
  <div>
      <router-outlet></router-outlet>
  </div>