a{
    color:white;
    padding:4px 12px;
    background-color: aquamarine;
    font-weight: 600;
}
.active{
    background-color:rgb(226, 72, 72);
    color: #fff;
    box-shadow: 2px 2px 3px black;
}