
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
  h1{
    font-family: 'Montserrat', sans-serif;
  }

  .mainBox{
    padding:20px 10px;
  }
  .card{
    width:800px;
    border-radius: 20px;
  }



  .box{
    display: flex;
    /* width: 100%; */
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    background-color: #f6f5f7;
    background:aliceblue;

    
    

  }

.social-container a{
  border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 25px 5px;
  margin-bottom: 1em;
	height: 3em;
	width: 3em;

  }

.social{
  transition:  transform 0.5s;
  padding: 20px;
  font-size: 20px;
}


#facebook:hover{
  color:#f6f5f7;
  background-color:dodgerblue;
  transform:translateY(-10px);
}
#google{
  color:rgb(218, 61, 61);
}
#google:hover{
  color:#f6f5f7;
  background-color:rgb(218, 61, 61);
  transform:translateY(-10px);
}

#linkedin:hover{
  color:#f6f5f7;
  background-color:dodgerblue;
  transform:translateY(-10px);
 
}

button:hover{
  transform:translateY(5px);
  box-shadow:2px black;

}


a:link{
  text-decoration: none;
}
  h1 {
	font-weight: bold;
	margin: 0;
}

span {
	font-size: 2em;
}

#or{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

input{
  display: block;
  margin:40px auto;
  width:550px;
  height: 50px;
  border: none;
  border-radius: 4px;
  text-emphasis-color: black;
  font-family:'Times New Roman', Times, serif;
  background-color: #f1f1f1;
  transition:transform 0.5s;
}
input:hover{
  transform: scale(1.1,1.2);
}
button{
  font-size: 20px;
  display: block;
  margin: auto;
  margin-top: 10px;
  color: #f1f1f1;
  padding:6px 20px ;
  border: none;
  border-radius: 20px;
  transition:  transform 0.5s;
   background-color:#f54949;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#Input{
    padding-right: 2px;
}


@media screen and  (max-width:1200px)  {
    
  .card{
      width:550px;
      
  }
  input{
    width: 25em;
  }
}

@media screen and  (max-width:500px)  {
    
    .card{
        width:350px;

    }
    .social{
      font-size: 15px;
    }
    #or{
      font-size: 15px;
    }
    input{
      width: 280px;
    }
}

@media screen and  (max-width:350px)  {
    
    .card{
        width:250px;
    }
    input{
      width: 200px;
    }
    button{
      font-size: 15px;
    }
}

 @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}




