
<div class="box text-center">
  <div class="mainBox">
  <div class="card slide-in-elliptic-top-fwd mx-auto px-4 py-5" >
    <div class=" form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container d-flex justify-content-evenly">
          <a href="#" class="social" id="facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social" id="google"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social" id="linkedin"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span id="or">or use your email for registration</span>
        <div id="Input">
            <input type="text" placeholder=" Name" />
            <input type="email" placeholder=" Email" />
            <input type="password" placeholder=" Password" />
        </div>
        <button>Sign Up</button>
      </form>

</div>
    </div>

  </div>
</div>