<div class="card  "  >
  <a type="button" (click)="getDetailsOfGame(pro.id)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{pro.title}}"><img src={{pro.thumbnail}}  class="card-img-top  w-100"alt="{{pro.title}}" ></a> 
    
    <div class="card-body " data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{pro.title}}">  
      
       <div class="name">
        <a type="button" (click)="getDetailsOfGame(pro.id)"><h3 >{{pro.title}}</h3> </a> 
       </div>
    </div>
    <!-- <p class="text-muted">{{pro.developer}} </p> -->

</div>
    