<div class="card  ">
  <a type="button" (click)="getDetailsOfGame(pro.id)" data-bs-toggle="tooltip" data-bs-placement="bottom"
    title="{{pro.title}}"><img src={{pro.thumbnail}} class="card-img-top  w-100" alt="{{pro.title}}">
  </a>

  <div class="card-body " >

    <div class="name" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{pro.title}}">
      <a type="button" (click)="getDetailsOfGame(pro.id)">
        <h3>{{pro.title}}</h3>
      </a>
    </div>
    <div class="d-flex justify-content-between" >
      
      <a  class="btn btn-dark playbtn btn-sm"  (click)="playVerify(pro.freetogame_profile_url)">Play</a>
    <a class="saveToLibrary btn btn-sm btn-dark text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" (click)="onCart(pro)" title="Save to Library"> <i class="far fa-save"></i> save
      </a>

    </div>
  </div>


</div>