p
{   
    font-family: 'Padauk', sans-serif;
    color:rgb(172, 61, 47);
}
.card
{
background-color: #fff;
border-radius: 4px;
box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
}
.card:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
}
img:hover{
    opacity: 0.5;
}
.name{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

h3{
    font-family: 'Padauk', sans-serif;
    color:#00c2c7;

    /* height: 28px; */
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}
.saveToLibrary:hover{
    color:#9726fc;
    
    
}
.saveToLibrary{
   font-size: 20px;
    color: black;
    
}

.playbtn{
    text-decoration: none;
    background-color: #268bfc;
    color: white;
    font-weight: 600;
    padding:4px 12px;
    border-radius: 4px;
}

.playbtn:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 1px rgba(37, 37, 255, 0.2);
}