ul{
    display: block;
    padding-left: 0px;
  }


  a{
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;    
    color:#189ab4;
  }


.nav-item:hover{
    transform:scale(1.1);
    transition-duration: 0.2s;
}