
            <nav class="MAIN navbar-expand-md  "style="  position: -webkit-sticky;
            position: sticky;top:0;">
                <div class="float-end me-4">
                  <button class="navbar-toggler float-end " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            
                </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="NavBar  me-auto mb-2 mb-lg-0" style="color: white;">
                    <br>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="home" routerLinkActive="active">
                          <span ><i class="fas fa-home pe-2" style="font-size: 30px;"></i></span>
                          <p class="d-inline " style="font-size: 1.5em;"> Home</p> 
                        </a>
                      </li>
            
                    <li class="nav-item">
                      <a class="nav-link"  routerLink="myapps" routerLinkActive="active" >
                        <span ><i class="fas fa-grip-horizontal pe-2" style="font-size: 30px;"></i></span>
                        <p class="d-inline " style="font-size: 1.5em;"> Apps</p>  
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  routerLink="mymovies" routerLinkActive="active">
                        <span ><i class="far fa-file-video pe-2" style="font-size: 30px;"></i></span>
                        <p class="d-inline " style="font-size: 1.5em;"> Movies</p> 
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  routerLink="mybooks" routerLinkActive="active">
                        <span ><i class="fas fa-book pe-2" style="font-size: 30px;"></i></span>
                        <p class="d-inline " style="font-size: 1.5em;"> Books</p> 
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link"  routerLink="signin" routerLinkActive="active">
                        <span ><i class="fas fa-book pe-2" style="font-size: 30px;"></i></span>
                        <p class="d-inline " style="font-size: 1.5em;"> signin</p> 
                      </a>
                    </li>
                  </ul>
            
                </div>
            
              </nav>