
<div class="box text-center">
    <div class="mainBox">
    <div class="card slide-in-elliptic-top-fwd mx-auto px-4 py-5" >
      <div class=" form-container sign-up-container">
        <form #formreference="ngForm" (ngSubmit)="formreference.form.valid && getUsersData(formreference)">
          <h1>Create Account</h1>
          <div class="social-container d-flex justify-content-evenly">
            <a href="#" class="social" id="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social" id="google"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social" id="linkedin"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span id="or">or use your email for registration</span>
          <div id="Input">
              <input type="text" placeholder=" Name" name="name" ngModel required #refname="ngModel" />
              <p class="warnings" *ngIf="(formreference.submitted || refname.touched)&&(refname.errors?.required)">*
                username is required</p>
              <input type="email" placeholder=" Email" name="email" ngModel required #refemail="ngModel" />
              <p class="warnings" *ngIf="(formreference.submitted || refemail.touched)&&(refemail.errors?.required)">*
                email is required</p>
              <input type="password" placeholder=" Password" name="password" ngModel required #refpassword="ngModel" minlength="8"/>
              <p class="warnings"
              *ngIf="(formreference.submitted || refpassword.touched)&&(refpassword.errors?.required)">* password is
              required</p>
              <p class="warnings"
              *ngIf="(formreference.submitted || refpassword.touched)&&(refpassword.errors?.minlength)">* password length should be alleast 8
              </p>
          </div>
          <button type="submit">Sign Up</button>
        </form>
  
  </div>
  <div class="d-block">
    <li class="d-block float-end" >
      <button class="btn" (click)="moveToSignin()" >
          <p class="d-inline fs-5 "  > signin</p> 
      </button>
      </li>
  </div>
      </div>
  
    </div>
  </div>