<app-header></app-header>
<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="first  ">
      <app-sidebar></app-sidebar>
    </div>
    <div class="second">
      <div>
        <div id="sec">
          <router-outlet></router-outlet>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" style="color:#9726fc">
                      <p class="d-inline "> Home</p>
                      <span> <i class="fas fa-home pe-2"></i></span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="myapps" routerLinkActive="active" style="color:#fc268b">
                      <p class="d-inline "> Apps</p>
                      <span> <i class="fas fa-grip-horizontal pe-2"></i> </span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="mymovies" routerLinkActive="active" style="color:#2a3636">
                      <p class="d-inline "> Movies</p>
                      <span> <i class="far fa-file-video pe-2"></i></span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="mybooks" routerLinkActive="active" style="color:#7bfb09">
                      <p class="d-inline "> Books</p>
                      <span> <i class="fas fa-book pe-2"></i></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="games" routerLinkActive="active" style="color:#268bfc">
                      <p class="d-inline  "> games</p>
                      <span><i class="fas fa-gamepad pe-2"></i></span>
                    </a>
                  </li>

                  <li class="nav-item" *ngIf="!dob.getUserLoginStatus()">
                    <a class="nav-link" routerLink="signin" routerLinkActive="active" style="color:#FD0048">
                      <p class="d-inline "> signin/signup</p>
                      <span> <i class="fas fa-user pe-2"></i></span>
                    </a>
                  </li>

                  <li class="nav-item" *ngIf="dob.getUserLoginStatus()">
                    <a class="nav-link" routerLink="signin" routerLinkActive="active" style="color:#FD0048" (click)="dob.userLogout()">
                      <p class="d-inline "> Logout</p>
                      <span> <i class="fas fa-user pe-2"></i></span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <h2 class="accordion-header" id="flush-headingOne">
              <button class=" " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                aria-expanded="false" aria-controls="flush-collapseOne">

              </button>
            </h2>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <app-footer></app-footer>
</div>

<!--                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li class="nav-item" >
                                    <a  class="nav-link"  routerLink="home" routerLinkActive="active" style="color:#9726fc"  >
                                        <p class="d-inline " > Home</p> 
                                      <span > <i class="fas fa-home pe-2" ></i></span>
                                    </a>
                                  </li>
                                  
                                <li class="nav-item">
                                  <a class="nav-link"  routerLink="myapps" routerLinkActive="active" style="color:#fc268b">
                                      <p class="d-inline " > Apps</p>  
                                    <span > <i class="fas fa-grip-horizontal pe-2" ></i> </span>
                                  </a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link"  routerLink="mymovies" routerLinkActive="active" style="color:#2a3636">
                                      <p class="d-inline " > Movies</p> 
                                    <span > <i class="far fa-file-video pe-2" ></i></span>
                                  </a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link"  routerLink="mybooks" routerLinkActive="active" style="color:#7bfb09">
                                      <p class="d-inline " > Books</p> 
                                    <span > <i class="fas fa-book pe-2" ></i></span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link"  routerLink="games" routerLinkActive="active" style="color:#268bfc">
                                    <p class="d-inline  "  > games</p> 
                                    <span ><i class="fas fa-gamepad pe-2"   ></i></span>
                                    </a>
                                  </li>
                                <li class="nav-item">
                                  <a class="nav-link"  routerLink="signin" routerLinkActive="active" style="color:#fc2b26">
                                      <p class="d-inline " > signin/signup</p> 
                                    <span > <i class="fas fa-user pe-2" ></i></span>
                                  </a>
                                </li>
                                
                              </ul> -->