
<ul class="nav nav-pills d-flex justify-content-evenly   mb-lg-0 fs-4 m-3 mb-5 ">
         
    <li class="nav-item">
        <a class="nav-link" routerLink="games" routerLinkActive="active" style="color:#268bfc">
          <span><i class="fas fa-gamepad pe-2 text-white"></i></span>
          <p class="d-inline fs-5 text-light"> games</p>
        </a>
      </li>
    <li class="nav-item">
        <button class="btn btn-success" (click)="onLibrary()">Saved games</button>
   
    
  </ul>
    <router-outlet></router-outlet>

